<div class="card">
  <div class="card-header">
    {{componentTitle}}
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">{{filterByTitle}}</div>
      <div class="col-md-4">
        <input type="text" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>{{filteredByTitle}}</h4>
      </div>
    </div>

    <div class="table-responsive">
      <table class="supermarket-list table table-hover" *ngIf="supermarkets && supermarkets.length">
        <thead>
          <tr>
            <th class="supermarket-id">Id</th>
            <th class="supermarket-name">Name</th>
            <th class="supermarket-address">Address</th>
          </tr>
        </thead>
        <tr *ngFor="let supermarket of supermarkets">
          <td>{{ supermarket.id }}</td>
          <td>{{ supermarket.name }}</td>
          <td>{{ supermarket.address }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
